* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main-container {
	padding-top: 80px;
}

.my-order {
	padding: 20px 0px 10px 50px;
	font-weight: bold;
	font-size: 2em;
}

.tables-container {
	height: 450px;
	/*display: flex;*/
	/*justify-content: space-around;*/
}

.order-list {
	/*margin: 0 auto;*/
	float: left;
	margin-left: 30px;
	border-collapse: collapse;
}

.summary {
	margin-left: 80px;
}

.summary td {
	font-weight: bold;
	text-align: right;
}

th td {
	text-align: right;
	padding: 8px;
	border-bottom: 1px solid #ddd;
}

td {
	height: 50px;
}

.item {
	width: 200px;
}

.amount {
	text-align: right;
	width: 100px;
}

.prices {
	width: 100px;
	text-align: right;
}

.order-list tr:nth-child(even) {
	background-color: #f2f2f2
}

.back-button {
	margin-left: 30px;
}

.next-button {
	margin-left: 125px;
}
