* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main-container {
	padding-top: 80px;
	background-color: blue;
	display: flex;
	flex-direction: column;
	height: 5000px;
	border: 20px solid red;
}

.menu-container {
	height: 100px;
	background-color: green;
	border: 20px solid black;
}
